@using DataModel;
@{
    ViewData["Title"] = "Index";
}

<h1>producten</h1>

@foreach (Dataproduct product in Model)
{
    <div class="container">
        @Html.HiddenFor(model => product.Id)
        <div class="col-xs-6 col-sm-3">
            <strong>@product.Name</strong>
        </div>
        <div class="col-xs-6 col-sm-3">
            <medium>@product.Description</medium>
        </div>
        <div class="col-xs-6 col-sm-7">
            <small>@product.Quantity</small>
        </div>
        <div class="col-xs-6 col-sm-7">
            <small>@product.Sellprice</small>
        </div>
        <div class="col-xs-6 col-sm-7">
            
            <a class="btn btn-danger" href="@Url.Action("productDelete", new{id = product.Id})">Verwijder product</a>
        </div>
        <div> <a asp-action="ProductDelete" asp-route-id="@product.Id">Delete</a></div>
    </div>
    <div class="align-content-center">
        @using (Html.BeginForm("CartAdd", "Cart", FormMethod.Get)){
            <input type="number" name="quantity" min="1" max="5">
            <input type="hidden" name="id" value="@product.Id"/>
            @Html.HiddenFor(model => product.Id)
        <input class="btn btn-light" type="submit" value=" voeg toe aan winkelwagen" />
        }
      
    </div>
   
 }
   
    
